[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CHMM"]
	path = CHMM
	url = https://github.com/julieaubert/chmm
[submodule "cobiclust"]
	path = cobiclust
	url = https://github.com/julieaubert/cobiclust
